<launch>
    
    <node name="radar_odometry" pkg="odometry_4dradar" type="radar_odometry" output="screen"> 
        <param name="bag_path" type="string" value="/media/invoker/Toshiba_1T/ColoDataset/edgar_classroom_run0.bag" />
        <param name="topic_imu" type="string" value="/imu/data" />
        <param name="topic_radar_scan" type="string" value="/radar_enhanced_pcl" />
    </node>
</launch>